
//VARIABLES
$light-grey: #CCCCCC;
$dark-grey: #333333;
/*LAYOUT of elements in nav*/


.left-nav {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  padding-left: 0;
}

  .left-nav li {
    display: inline-block;
  }

  .left-nav input {
    width: 350px;
    height: 32px;
    margin-right: 20px;
    margin-left: 10px;
    border: 1px solid $light-grey;
    border-radius: 3px;
  }

    .left-nav a {
      text-decoration: none;
      font-size: 0.8em;
      color: $dark-grey;
      padding-right: 20px;
    }




.right-nav {
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  padding-left: 0;
  float: right;
}

  .right-nav li {
    display: inline-block;
    vertical-align: middle;
  }

    .right-nav img {
      width: 25px;
      height: 25px;
      border-radius: 3px;
    }

    .right-nav li .username {
      text-decoration: none;
      font-size: 0.8em;
      color: $dark-grey;
      padding-right: 20px;
    }

    .right-nav .octicon {
      /* padding-right: 20px; */
    }

      .octicon-sign-out {
      /* padding-right: 20px; */
      }

    .right-nav a {
      color: $dark-grey;
    }
