$gutter: 0em;

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import 'header.scss';
@import 'sidebar.scss';
@import 'repo-filters';

// Typography
$base-font-family: $helvetica;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;

body {
  font-family: $base-font-family;
  color: $base-font-color;
}


.holds-nav {
  height: 60px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #7D7773;
}

  .nav-container {
    @include outer-container(1080px);
  }

    .left-nav {
      width: 675px;
    }

.content-container {
  @include outer-container(1080px);
  background-color: #fff;
  /* border: 1px solid $medium-gray; */
  height: auto;
  margin-top: 25px;
}

  .holds-sidebar {
    @include span-columns(4);
    height: 675px;
    background-color: #fff;
    /* border: 1px solid $medium-gray; */
  }

    .holds-user {
      max-width: 85%;
      margin: 0 auto;
    }

  .holds-main-content {
    @include span-columns(8);
    height: auto;
  }

  .holds-repo-filters {
    height: 120px;
    background-color: #fff;
    border: 1px solid $medium-gray;
  }

  .holds-repos {
    background-color: #fff;
    /* border: 1px solid $medium-gray; */
    height: auto;
  }
